# Encabezado tipo 1
## Encabezado tipo 2

Se llama **Markdown**

1.   Elemento de lista
2.   Elemento de lista

En Jupyter para ejecutar una celda tecleamos:

- CTRL + ENTER

O si queremos añadir una nueva línea de código y a la vez ejecutar

- ALT + ENTER

In [5]:
# Si quiero escribir un comentario en una celda utilizamos el fragmento #
# Si son más líneas también
suma = 20 + 10 # también podemos redactar un comentario al lado del código

In [8]:
print(suma) # imprimimos el valor resultante de la variable anterior

30

In [10]:
suma

30

In [12]:
print("El resultado de esta operación es: " + suma)

TypeError: ignored

Veamos que nos devolverá un error porque estamos intentando imprimir una cadena de texto y un valor numérico.
La solución sería de transformar nuestro valor numérico en STRING

In [15]:
# Volvemos a repetir la operación anterior convertiendo la variable numérica en string
print("El resultado de esta operación es: " + str(suma))

El resultado de esta operación es: 30

In [ ]:
sum